{{> header}}
<section class="hero is-fullheight bg-img-login"> 

  <div class="columns">

    
    <div class="column"></div>


    <div class="column mt-6">
      <section>
          <div class=" blackboard has-text-centered mb-4">
            <div class="columns is-centered mt-4">
              {{#if team}}  
                <form action="/teams" method="get">
                  <input type="hidden" id="showteam" name="showteam" value="false">
                  <input class="chalkbtn" type="submit" value="Visa Runda"></input>
                </form>
              {{else}}
                <form action="/teams" method="get">
                  <input type="hidden" id="showteam" name="showteam" value="true">
                  <input class="chalkbtn ml-4" type="submit" value="Visa Team"></input>
                </form>
              {{/if}}
            </div>
            
            <h3 class="subtitle is-3 mt-3 chalk"> </span> {{data.team.teamname}} <span class="chalk-line"></span></h3>
            {{#if team}}  
            <div class="chalk">
                
                {{#each data.teamMembers}}
                    <h4 class="subtitle is-4 mt-3 chalk"> </span> {{this}}</h4>
                {{/each}}
            </div> 
            {{else}} 
            <div class="chalk">
                {{#each data.barrunda.parsed.list}}
                    <h4 class="subtitle is-4 mt-3 chalk"> </span> {{counter @index}}. {{this.name}}</h4>
                {{/each}}
            </div> 
            {{/if}}
          </div>
      </section>

      <div class="columns is-centered mt-4">
        
        <form action="/bars/delete" method="post">
          <input class="chalkbtn ml-4" type="submit" value="Ny runda"></input>
        </form>
        <form action="/teams/delete/{{data.team.id}}" method="post">
          <input type="hidden" id="teamcreatorid" name="teamcreatorid" value={{data.team.creatorid}}>
          {{#if owner}}
            <input class="chalkbtn ml-4" type="submit" value="Delete team"></input>
          {{else}}
            <input class="chalkbtn ml-4" type="submit" value="Leave team"></input>
          {{/if}}
          
        </form>
      </div>
    </div>
    <div class="column"></div>
  </div>

</section>